<?xml version="1.0"?>
<model>
  <name>roboworks</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Rudolf Krecht</name>
    <email>krecht.rudolf@ga.sze.hu</email>
  </author>

  <description>
  Ackermann-steering robot model based on the Roboworks Rosbot Mini
  </description>
</model>
